# Ollama params
OLLAMA_MODEL_NAME=

# qdrant DB connection params
QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION_NAME=

# param of timeout for request refuse
GENERATION_TIMEOUT_SECOND=

# postgres DB connection params
DATABASE_URL=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
